<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="No300Words.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Count_Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <No300Words.Properties.Settings>
            <setting name="tx_fcolor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="tx_bcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="tx_font" serializeAs="String">
                <value>Century, 15.75pt</value>
            </setting>
            <setting name="form_size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="form_loc" serializeAs="String">
                <value>300, 300</value>
            </setting>
        </No300Words.Properties.Settings>
        <Count_Editor.Properties.Settings>
            <setting name="tx_fcolor" serializeAs="String">
                <value />
            </setting>
            <setting name="tx_bcolor" serializeAs="String">
                <value />
            </setting>
        </Count_Editor.Properties.Settings>
    </userSettings>
</configuration>